// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button{
  border: 0;
  padding: 0;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 2px;
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  transition: all .2s ease;
  
  &--small{
    padding: 1em 1.67em;
  }
  
  &:hover,
  &:active,
  &:focus{
    color: $grey;
    border-color: #fff;
    text-decoration: none;
  }
}
.registration__buttons--login{
  border: 1px solid $grey;
  border-radius: 2px;
}
